p,a {
    font-size: 20px;
}
h1,p,body {
    margin: 0;
}
header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}
h1 {
    color: rgb(255, 255, 255);
}
main {
    padding-top: 10px;
    padding-bottom: 10px;
}
#parent {
    display: flex;
    justify-content: space-around;
}
.contents {
        border: solid 3px rgb(238, 204, 204);
        flex-basis: 25%;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: center;
    }
h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
    display: block;
    width: 100%;
    
}
h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}
div p:nth-of-type(2)::first-letter {  
      /*ここにスペースは入れない？  */
        color: rgb(97, 206, 249);
        font-weight: bold; 
    }   

.contents::before {
    font-style: bold;
    color: rgb(97, 206, 249);
}
.contents img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
}
footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}
a {
    color: rgb(255, 255, 255);
   
    }
a:visited {
    color: rgb(193, 234, 251);
}
a:hover {
    color: rgb(245, 178, 168);
}
@media screen and (max-width: 768px) {
    #parent {
        display: block;
    }
    .contents {
        margin-left: 10px;
        margin-right: 10px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
}   